html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed, 
 figure, figcaption, footer, header, hgroup, 
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.logo {
    width: 50%;
}

h1 {
    font-size: 90px;
    font-weight: bolder;
    margin-left: 25px;
}

.banner p {
    margin-left: 25px;
    font-size: 35px;
}

#background-image {
    width: 70%;
    float: center;
}

.bike {
    display: flex;
    justify-content: center;
}

.apply {
    display: flex;
    justify-content: center;
}

 form {
    width: 70%;
    padding: 5px;
    border: 2px solid white;
    border-radius: 15px;
    background-color:wheat;
}

.apply-form {
    margin: 
}

.apply-form-section {
    padding: 4px;
    display: flex;
    justify-content: center;
}

.apply-form-input {
    width: 90%;
    height: 25px;
    border-radius: 4px;
    background-color: #f7f7ff;
}

#agree .apply-form-section {
    display: flex;
    justify-content: flex-start;
}

h2 {
    font-size: 60px;
    margin: 20px;
}

.apply p {
    font-size: 20px;
    margin:20px;
}

button {
    background-color: #57eeab;
    margin: 10px 20px;
    width: 90%;
    height: 40px;
    border-radius: 4px;
    font-size: 30px;
    font-weight: bolder;
}

span {
    color: #ff8480;
}

footer {
    background-color: #fffd8c;
    padding: 30px;
}

h3 {
    font-size: 30px;
    font-weight: bolder;
}

footer p {
    font-size: 25px;
}

#hours-city {
    margin: 15px;
    display: flex;
    flex-direction: row;
}

.hours-info {
    margin: 10px;
    padding: 10px;
}

#calculate.calculate {
    color: white;
    background-color: #ff8480;
    border-radius: 6px;
}

.icons {
    display: flex;
    justify-content: space-around;
}




























@media screen and (max-width: 600px) {

}