html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed, 
 figure, figcaption, footer, header, hgroup, 
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ----------------------------------------
                 MOBILE STYLE 
----------------------------------------- */
/* set the whole body in column to match the mockup */
body {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #f7f7ff;
}
/* set the logo size not too much big to match the scene */
.logo {
    width: 50%;
}
/* set the image as background in the center of the page */
main {
    background-image: url(images/images/bg-image/scooter.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 400px;
}
/* set the header section to match the mobile style */
h1 {
    font-size: 90px;
    font-weight: bolder;
    margin-left: 25px;
}

.banner p {
    margin-left: 25px;
    font-size: 35px;
}
/* make the sets are matching this section  */
.apply {
    display: flex;
    justify-content: center;
    margin-top: 400px;
}

 form {
    margin-bottom: 30px;
    width: 70%;
    padding: 5px;
    border: 2px solid white;
    border-radius: 15px;
    background-color:white;
    box-shadow: 3px 3px #333;
}

.apply-form-section {
    padding: 4px;
    display: flex;
    justify-content: center;
}

.apply-form-input {
    width: 90%;
    height: 25px;
    border-radius: 6px;
    border-color: #f7f7ff;
    background-color: #f7f7ff;
}

#agree .apply-form-section {
    display: flex;
    justify-content: flex-start;
}

h2 {
    font-size: 60px;
    margin: 20px;
}

form p {
    font-size: 20px;
    margin:20px;
}

button {
    margin-left: 20px;
    width: 90%;
    height: 40px;
    background-color: #57eeab;
    border-color: #57eeab;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.check {
    margin-left: 20px;
}

span {
    color: #ff8480;
}
/* set the footer in basic style  */
footer {
    background-color: #fffd8c;
    padding: 10px;
}

h3 {
    font-size: 30px;
    font-weight: bolder;
    margin:15px;
}

footer p {
    font-size: 20px;
    margin-left: 15px;
}

#hours-city {
    margin: 15px;
    display: flex;
    flex-direction: row;
}

.hours-info {
    width: 20%;
}
.city-info {
    width: 79%;
}
.hours{
    width: 80%;
}
.city{
    width: 90%;
}
#calculate.calculate {
    color: white;
    background-color: #ff8480;
    border-color: #ff8480;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
}

.icons {
    display: flex;
    justify-content: space-around;
    margin:10px;
}


/* ----------------------------------
              TABLET STYLE
 --------------------------------- */
/* the content need to match blow area in different data with basic mobile style */
@media screen and (min-width: 768px) and (max-width: 960px) {
body {
    width: inherit;
}

.logo {
    margin-left: 10px;
}
/* increase the background size to mach the scene */
main {
    background-image: url(../images/bg-image/scooter.svg) center no-repeat;
}

h1 {
    font-size: 90px;
    margin: 40px;
}

.banner p {
    font-size: 35px;
    margin-left: 40px;
}

.check {
    font-size: 15px;
}

h3 {
    font-size: 20px;
}

footer p {
    font-size: 20px;
}

#allhours {
    display: flex;
    flex-direction: row;
    margin: 5px;
}

.icons {
    display: flex;
    justify-content: space-between;
    width: 35%;
    margin-left: 250px;
}
}

/* --------------- ------------------------ 
               DESKTOP STYLE                
 --------------------------------------- */
/* most sets are changed in blow area in order to increase the whole content on the web page */
@media screen and (min-width: 960px) {
#logo {
    width: 15%;
    margin-left: 30px;
}
    
main {
    margin: 30px;
    display: flex;
    flex-direction: row;
    background-image: url(../images/bg-image/scooter.svg) center center no-repeat;
}
    
h1 {
    font-size: 60px;
    margin: 25px;
    line-height: 75px;
}
    
.banner p {
    font-size: 20px;
    line-height: 25px;
}

.apply {
     width: 100%;
     margin-top: 0;;
}

h2 {
    font-size: 30px;
    font-weight: bolder;
}

.apply-info p {
    font-size: 20px;
}

.apply-info .check {
    font-size: 10px;
}

h3 {
    font-size: 20px;
}

footer {
    display: block;
}

footer p {
    font-size: 15px;
}

#allhours {
    display: flex;
    flex-direction: row;
    width: 55%;
}

#footer-container section{
    width: 100%;
}

#allhours,
.calculate {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-grow: 1;
}

.icons {
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
    width: 20%;
    margin-left: 750px;
}
}