html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed, 
 figure, figcaption, footer, header, hgroup, 
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html{
    font-family: Raleway, sans-serif;
}
/* ------------------------------------
             CUSTOM STYLE                                             
---------------------------------------*/

header {
    background-color: #3C3B3A;
    width:100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.logo {
    width: 150px;
    height: 150px;
}

ul li{
    padding: 16px;
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
}

.nav-about {
    font-size:1.5rem;
    font-weight: bold;
}

.title-left {
    margin: 20px;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    max-width: 90%;
    padding-left: 20px;
    line-height: 60px;
}

.title-left p {
    font-size: 1.5rem;
    max-width: 80%;
    padding-left: 20px;
    padding-top: 26px;
    line-height: 35px;
    font-weight:lighter;
}

.title-right img {
    max-width: 80%;
}

.title-right {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.banner-about {
    max-width: 100%;
    height: 320px;
    background-image: url(images/about.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
}

.banner-about {
    background-image: url(images/about.jpg), linear-gradient(#26A682,#26A682);
    background-blend-mode:multiply;
    background-size: cover;
}
    
.banner-about p {
    display: flex;
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
    color: white;
}

.banner-info h2 {
    font-size: 2rem;
    max-width: 90%;
    padding: 10px;
    padding-left: 20px;
}

.banner-info {
    background-color: #F2F2F2;
    padding-bottom: 20px;
    padding-top: 20px;
}

.banner-info p {
    font-size: 1.2rem;
    max-width: 80%;
    padding-left: 20px;
    line-height: 35px;
    font-weight:lighter;
}

.banner-services {
    max-width: 100%;
    height: 320px;
    background-image: url(images/services.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
}

.banner-services {
    background-image: url(images/services.jpg), linear-gradient(#26A682,#26A682);
    background-blend-mode:multiply;
    background-size: cover;
}

.banner-services p {
    display: flex;
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
    color: white;
}

.services-info span {
    color: #26A682;
    font-size: 1.5rem;
    font-weight: normal;
}

.services-info h2 {
    font-size: 2rem;
    max-width: 90%;
    padding-left: 20px;
    margin-top: 10px;
    line-height: 40px;
}

.services-info p {
    font-size: 1.2rem;
    max-width: 80%;
    padding-left: 20px;
    padding-top: 10px;
    line-height: 35px;
    font-weight:lighter;
}

.services-info img {
    display: none;
}

.serviceb {
    background-color: #F2F2F2;
    padding: 10px;
}

.sub {
    max-width: 100%;
    height: 120px;
    background-color: #3C3B3A;
}

.sub p {
    color: white;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 10px;
}

.suba button {
    width: 200px;
    height: 45px;
    text-align: center;
    border-radius: 25px;
    color: white;
    background-color: #26A682;
    font-size: 1rem;
    font-weight: bold;
    border-style: none;
}

.suba {
    display: flex;
    justify-content: center;
}

.sub-info h2 {
    font-size: 2rem;
    max-width: 90%;
    padding-left: 20px;
    margin-top: 10px;
    line-height: 40px;
}

.sub-info img {
    display: none;
}

.sub-info p {
    color:black;
    font-size: 1.2rem;
    max-width: 80%;
    padding-left: 20px;
    padding-top: 10px;
    line-height: 35px;
    font-weight:lighter;
}

.sub-info span {
    color: #26A682;
    font-size: 1.5rem;
}

.sub-infob {
    background-color: #F2F2F2;
    padding:10px;
}

.special {
    display: flex;
    justify-content: center;
}

.special p {
    font-size: 2.5rem;
    font-weight: bold;
    max-width: 40%;
    margin: 15px;
    text-align: center;
    line-height: 50px;
}

.special-pics img {
    width:100px;
    height:100px;
    padding: 10px;
}

.special-pics {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: #3C3B3A;
    height: 150px;
}

footer p {
    color: white;
}

.followa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.followus p{
    font-size: 1.8rem;
    padding: 10px;
    padding-top: 30px;
}

.followb {
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    align-items:flex-end;
}

.followb {
    position: relative;
    right: 0;
    top: -40px;
}

.followb img {
    width: 25px;
}

/* -----------------------------------------
               TABLET STYLE                              
---------------------------------------------*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
body {
    width: inherit;
}

header {
    max-width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
}

ul {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.logo {
    max-width: 60px;
    margin-left: 50px;
}

.header-logo {
    margin-right: auto;
    display: flex;
    justify-content:flex-start;
}


.services-info img,
.sub-info img{
    display:inline;
}

.servicea {
    margin: 40px;
    display: flex;
    flex-direction:row-reverse;
}

.services-imga img {
    width: 90%;
    height:100%;
}

.serviceb {
    padding: 30px;
    display: flex;
}

.serviceb {
    display: grid;
    grid-template-columns: 2fr 1fr;
}


.services-imgb img {
    width: 90%;
    height:100%;
}

.services-info h2,
.services-info p{
   padding-left: 10px;    
}

.sub-infoa {
    margin: 40px;
    display: flex;
    flex-direction:row-reverse;
}

.sub-infoaimg img {
    width: 90%;
    height:100%;
}

.sub-infob {
    width: 90%;
    padding: 30px;
    display: flex;
}

.sub-infob {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.sub-infobimg img {
    width: 90%;
    height:100%;
}

.sub {
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items:baseline; 
    justify-content: center;
    justify-content: space-evenly;    
}
}

/* --------------------------------------------
                    DESKTOP STYLE                            
------------------------------------------------*/
@media screen and (min-width: 1024px) {
body {
    width: inherit;
}

header {
    max-width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
}

ul {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.logo {
    max-width: 60px;
    margin-left: 90px;
}

.header-logo {
    margin-right: auto;
    display: flex;
    justify-content:flex-start;
}

.title-left {
    width: 80%;
}

.title-right img {
    max-width: 100%;
}

#title-container {
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items:flex-start;
}

.banner-info {
    padding:40px;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.services-info img,
.sub-info img{
    display:inline;
}

.servicea {
    padding: 40px;
    display: flex;
    flex-direction:row-reverse;
}

.services-imga img {
    width: 100%;
    height:80%;
}

.serviceb {
    padding: 40px;
    display: flex;
}

.serviceb {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.services-imgb img {
    width: 100%;
    height:80%;
}

.services-info h2,
.services-info p{
   padding-left: 10px;    
}

.sub-infoa {
    margin: 40px;
    display: flex;
    flex-direction:row-reverse;
}

.sub-infoaimg img {
    width: 100%;
    height:80%;
}

.sub-infob {
    width: 90%;
    padding: 30px;
    display: flex;
}

.sub-infob {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.sub-infobimg img {
    width: 100%;
    height:80%;
}

.sub {
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items:baseline; 
    justify-content: center;
}

.special-pics {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
}






























