html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed, 
 figure, figcaption, footer, header, hgroup, 
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html{
    font-family: Raleway, sans-serif;
}
/* ------------------------------------
             CUSTOM STYLE                                             
---------------------------------------*/
/*change the header's background color and position */
header {
    background-color: #3C3B3A;
    width:100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
/*change the logo's size to match the scene */
.logo {
    width: 150px;
    height: 150px;
}
/*change the nav's position */
ul li{
    padding: 16px;
    text-align: center;
}
/*change the nav's color */
a {
    color: white;
    text-decoration: none;
}
/*change the nav's font size */
.nav-contact {
    font-size:1.5rem;
    font-weight: bold;
}
/*change the h1's font size */
h1 {
    font-size: 3rem;
    font-weight: bold;
    max-width: 90%;
    padding-left: 20px;
    padding-top: 15px;
    line-height: 60px;
}
/*change the title's position */
.title {
    margin-left: 20px;
}
/*change the text's font size */
.title p {
    font-size: 1.5rem;
    max-width: 100%;
    padding: 20px;
    padding-top: 26px;
    line-height: 35px;
    font-weight:lighter;
}
/*change the image's position */
.title-pic img {
    margin: 20px;
    max-width: 80%;
}
/*change the image's area */
.title-pic {
    display: flex;
   justify-content: center;

}
/*change the text's position */
.contact-us {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
/*change the h2's font size */
h2 {
    display: flex;
   justify-content:flex-start;
   color: white;
   font-size: 4rem;
   font-weight: bold;
   padding: 20px;
}
/*change the form's color and position */
form {
    margin-bottom: 30px;
    width: 70%;
    padding: 15px;
    border: 2px solid  #26A682;
    border-radius: 30px;
    background-color: #26A682;
    box-shadow: 3px 3px #333;
}
/*change the text's position */
form p {
    margin-top: 10px;
}
/*change the label's position and color */
.contact-form-input {
    width: 90%;
    height: 35px;
    margin: 6px;
    padding-left: 10px;
    border-radius: 20px;
    border-style: none;
    background-color: #f7f7ff;
    border-style: none;
}
/*change the message's position */
#message {
    height: 80px;
    border-radius: 10px;
}
/*change the button's position and color*/
button {
    margin-left: 20px;
    margin-top: 20px;
    max-width: 100%;
    height: 50px;
    background-color: #3C3B3A;
    border-style: none;
    color: white;
    border-radius: 30px;
    cursor: pointer;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

/* add the animation style for the button */
.contact-but button{
    display: flex;
    justify-items:center;
    align-content:center;
  }

.contact-but button{
    max-width: 40%;
    height: 100%;
    background-color: #3C3B3A;
    border-style: none;
  }

  .contact-but button{
    animation-name: jump;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

  @keyframes jump {
    50% { transform: translate(0, -50px); }
  }

/*change the h2's font size and position*/
.location h2 {
   color: black;
   font-size: 2.5rem;
   padding-bottom:15px
}
/*change the text's size and position */
.location p {
    font-size: 1.5rem;
    font-weight:lighter;
    max-width: 90%;
    line-height: 30px;
}
/*change the text's position */
.location-info {
    margin-top: 15px;
    margin-left: 30px;
    margin-bottom: 40px;
}
/*change the map's location */
.map iframe {
    width: 100%;
    height: 300px;
}
/*change the footer's color and height */
footer {
    background-color: #3C3B3A;
    height: 150px;
}
/*change the text in footer's color */
footer p {
    color: white;
}
/*change the footer container's position */
.followa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*change the footer text's position */
.followus p{
    font-size: 1.8rem;
    padding: 10px;
    padding-top: 30px;
}
/*change the footer container's position */
.followb {
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    align-items:flex-end;
}
/*change the footer container's position */
.followb {
    position: relative;
    right: 0;
    top: -50px;
}
/*change the footer image's size */
.followb img {
    width: 25px;
}

/* ---------------------------------------
                 TABLET STYLE                          
------------------------------------------*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
body {
    width: inherit;
}
/*change the header's size and position */
header {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
}
/*change the nav's position */
ul {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
/*change the logo's size and position to match the scene */
.logo {
    max-width: 60px;
    margin-left: 80px;
}
/*change the logo's position in header area */
.header-logo {
    margin-right: auto;
    display: flex;
    justify-content:flex-start;
}
/*change the h1's font size */
h1 {
    font-size: 4.5rem;
    line-height: 80px;
}
/*change the title's position*/
.title {
    margin-left: 50px;
}
/*change the location's position*/
.location-info {
    display: grid;
    justify-content: center;
    align-items: center;
}
/*change the map's size */
.map iframe {
    width: 100%;
    height: 300px;
}
/*change the h2's font size in location's area*/
.location h2 {
    font-size: 3rem;
    font-weight: bold;
 }
/*change the span's font size and position*/
 .location span {
    font-size: 1.6rem;
    max-width: 100%;
}
/*change the button's size and position*/
button {
    width: 30%;
    height: 60px;
    display: grid;
    justify-content:center;
    align-items:center;
}
/*change the button's position*/
.contact-but {
    margin-right:30px;
    display: flex;
   justify-content: flex-end;
}
}

/* ----------------------------------------
                DESKTOP STYLE                            
-------------------------------------------*/
@media screen and (min-width: 1024px) {
body {
    width: inherit;
}
/*change the header's size and position */
header {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
}
/*change the nav's position */
ul {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
/*change the logo's position */
.logo {
    max-width: 60px;
    margin-left: 50px;
}
/*change the logo's position */
.header-logo {
    margin-right: auto;
    display: flex;
    justify-content:flex-start;
}
/*change the content in this area in a row  */
.up-container {
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    display: grid;
    grid-template-columns: 1.2fr 1fr;
}
/*change the button's font size and position */
button {
    font-size: 1.5rem;
    width: 40%;
    height: 70px;
    display: grid;
    justify-content:center;
    align-items:center;
}
/*change the button's position */
.contact-but {
    display: flex;
   justify-content: flex-end;
}
/*change the content in this area in a row  */
.location {
    margin: 30px;
    display: grid;
    grid-template-columns: 1fr 1.2fr;
}
/*change the span's size */
.location-info span {
    width: 100%;
}
/*change the map's size */
.map {
    width:70%;
}
}
