html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed, 
 figure, figcaption, footer, header, hgroup, 
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html{
    font-size: 1 rem;
    font-family: Raleway, sans-serif;
}
/* ------------------------------------
             CUSTOM STYLE                                             
---------------------------------------*/

header {
    background-color: #3C3B3A;
    width:100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.logo {
    width: 150px;
    height: 150px;
}

ul li{
    padding: 16px;
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
}

.nav-contact {
    font-size:1.5rem;
    font-weight: bold;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    max-width: 90%;
    padding-left: 20px;
    padding-top: 15px;
    line-height: 60px;
}

.title {
    margin-left: 20px;
}

.title p {
    font-size: 1.5rem;
    max-width: 100%;
    padding: 20px;
    padding-top: 26px;
    line-height: 35px;
    font-weight:lighter;
}

.title-pic img {
    margin: 20px;
    max-width: 80%;
}

.title-pic {
    display: flex;
   justify-content: center;

}

.contact-us {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

h2 {
    display: flex;
   justify-content:flex-start;
   color: white;
   font-size: 4rem;
   font-weight: bold;
   padding: 20px;
}

form {
    margin-bottom: 30px;
    width: 70%;
    padding: 15px;
    border: 2px solid  #26A682;
    border-radius: 30px;
    background-color: #26A682;
    box-shadow: 3px 3px #333;
}

form p {
    margin-top: 10px;
}

.contact-form-input {
    width: 90%;
    height: 35px;
    margin: 6px;
    padding-left: 10px;
    border-radius: 20px;
    border-color: #f7f7ff;
    background-color: #f7f7ff;
}

#message {
    height: 80px;
    border-radius: 10px;
}

button {
    margin-left: 20px;
    margin-top: 20px;
    width: 90%;
    height: 40px;
    background-color: #3C3B3A;
    border-color: #3C3B3A;
    color: white;
    border-radius: 30px;
    cursor: pointer;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.location h2 {
   color: black;
   font-size: 2rem;
   padding-bottom:15px
}

.location p {
    font-size: 1.5rem;
    font-weight:lighter;
    max-width: 60%;
    line-height: 30px;
}


.location-info {
    margin-top: 15px;
    margin-left: 30px;
    margin-bottom: 40px;
}

.map iframe {
    width: 100%;
    height: 300px;
}

footer {
    background-color: #3C3B3A;
    height: 150px;
}

footer p {
    color: white;
}

.followa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.followus p{
    font-size: 1.8rem;
    padding: 10px;
    padding-top: 30px;
}

.followb {
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    align-items:flex-end;
}

.followb img {
    width: 25px;
}

/* ---------------------------------------
                 TABLET STYLE                          
------------------------------------------*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
body {
    width: inherit;
}

header {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
}

ul {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.logo {
    max-width: 60px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
}

h1 {
    font-size: 4.5rem;
    line-height: 80px;
}

.title {
    margin-left: 50px;
}

.location-info {
    display: grid;
    justify-content: center;
    align-items: center;
}

.map iframe {
    width: 100%;
    height: 300px;
}

.location-info {
    margin-left: 0;    
}

.location h2 {
    font-size: 3rem;
    font-weight: bold;
 }

 .location span {
    font-size: 1.6rem;
    width: 100%;
}

button {
    width: 30%;
    height: 60px;
    display: grid;
    justify-content:center;
    align-items:center;
}

.contact-but {
    margin-right:30px;
    display: flex;
   justify-content: flex-end;
}
}

/* ----------------------------------------
                DESKTOP STYLE                            
-------------------------------------------*/
@media screen and (min-width: 1024px) {
body {
    width: inherit;
}

header {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
}

ul {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.logo {
    max-width: 60px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
}

button {
    width: 30%;
    height: 60px;
    display: grid;
    justify-content:center;
    align-items:center;
}

.contact-but {
    display: flex;
   justify-content: flex-end;
}

.location {
    display: flex;
    flex-direction: row;
    align-items:center; 
    justify-content: center;
}






}
