html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed, 
 figure, figcaption, footer, header, hgroup, 
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html{
    font-family: Raleway, sans-serif;
}
/* ------------------------------------
             CUSTOM STYLE                                             
---------------------------------------*/
/*change the header's background color and position */
header {
    background-color: #3C3B3A;
    width:100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
/*change the logo's size to match the scene */
.logo {
    width: 150px;
    height: 150px;
}
/*change the nav's position */
ul li{
    padding: 16px;
    text-align: center;
}
/*change the nav's color */
a {
    color: white;
    text-decoration: none;
}
/*change the nav's font size */
.nav-home {
    font-size:1.5rem;
    font-weight: bold;
}
/*change the main content's position */
.title-left {
    margin: 20px;
}
/*change the h1's font size */
h1 {
    font-size: 3rem;
    font-weight: bold;
    max-width: 90%;
    padding-left: 20px;
    line-height: 60px;
}
/*change the text's font size */
.title-left p {
    font-size: 1.5rem;
    width: 90%;
    padding-left: 20px;
    padding-top: 26px;
    line-height: 35px;
    font-weight:lighter;
}
/*change the icon area's position */
.title-icons {
    margin: 20px;
    max-width: 80%;    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 40px;
    text-align: center;
}
/*change each icon's position */
.title-icons i {
    padding-left: 50px;
    padding-right: 50px;

}
/*change the icon text's font size and color */
.title-icons p {
    font-size: 1rem;
    color: #26A682;
}
/*change the button's size and color */
.title-left button {
    width: 80%;
    height: 50px;
    text-align: center;
    border-radius: 25px;
    color: white;
    background-color: #26A682;
    font-size: 1.5rem;
    font-weight: bold;
    border-style: none;
    box-shadow: 3px 3px #333;
}
/*change the button's position */
.button {
    display: flex;
    justify-content: center; 
}
/*change the image's size */
.title-right img {
    max-width: 80%;
}
/*change the image's position */
.title-right {
    display: flex;
    justify-content: center;
}
/*change the image's length */
.school img {
    max-width: 100%;
}
/*change the h2's font size */
h2 {
    margin-top: 26px;
    font-size: 2rem;
    max-width: 90%;
    padding-left: 20px;
    line-height: 50px;
    font-style:italic;
}
/*change the content's position */
.schoolb {
    margin-left: 20px;
}
/*change the text's font size */
.schoolb p {
    font-size: 1.1rem;
    max-width: 80%;
    padding-left: 20px;
    line-height: 30px;
    font-weight:lighter;
}
/*change the span text's font style */
.schoolb span {
    color:#26A682;
    font-style:normal;
}
/*change the button's size and color */
.schoolb button {
    width: 46%;
    height: 40px;
    text-align: center;
    border-radius: 25px;
    color: white;
    background-color: #26A682;
    font-size: 1rem;
    font-weight: bold;
    border-style: none;
    box-shadow: 3px 3px #333;
}
/*change the button's position */
.buttona {
    display: flex;
    justify-content:flex-end; 
    max-width: 80%;
    padding: 20px;
}
/*change the banner's background color */
.banner {
    background-color: #3C3B3A;
    padding:20px;
}
/*change the image's border size */
.bannera img {
    max-width: 50%;
    box-sizing: border-box;
    border-radius: 360px;
    border:5px solid #FFF;
}
/*change the banner's position */
.bannera {
    display: flex;
    justify-content: center;
}
/*change the h3's hight and color */
.bannerb h3 {
    color: white;
    line-height: 25px;
}
/*change the bannerb's position */
.bannerb {
    display: flex;
    justify-content: center;
    padding-top: 15px;
}
/*change the text's font size */
.bannerc p {
    color: white;
    font-size: 1.3rem;
    padding: 10px;
    line-height: 30px;
    font-weight:lighter;
}
/*change the image's size */
.section-ent img {
    max-width: 100%;
}
/*change the h3's font size and color */
.section-entb h3 {
    font-size: 1.8rem;
    color: black;
    font-style:italic;
}
/*change the span h3's font size and color */
.section-entb h3 span {
    color: #26A682;
    font-style: normal;
}
/*change the text's size */
.section-entb {
    padding: 20px;
    padding-bottom: 0px;
    line-height: 40px;
}
/*change the text's font size */
.section-entc p{
    line-height: 45px;
    padding: 16px;
    padding-top: 0;
    font-size: 1.5rem;
    font-weight:lighter;
}
/*change the button's size and color */
.section-ent button {
    width: 46%;
    height: 40px;
    text-align: center;
    border-radius: 25px;
    color: white;
    background-color: #26A682;
    font-size: 1rem;
    font-weight: bold;
    border-style: none;
    box-shadow: 3px 3px #333;
}
/*change the button's position */
.section-entd {
    display: flex;
    justify-content:flex-end; 
    max-width: 80%;
    padding: 20px;
}
/*change the footer's height and color */
footer {
    background-color: #3C3B3A;
    height: 150px;
}
/*change the footer's text color */
footer p {
    color: white;
}
/*change the footer container's position */
.followa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*change the footer's text font size */
.followus p{
    font-size: 1.2rem;
    padding: 10px;
    padding-top: 30px;
}
/*change the footer container's position */
.followb {
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    align-items:flex-end;
}
/*change the footer container's position */
.followb {
    position: relative;
    right: 0;
    top: -50px;
}
/*change the footer image's size */
.followb img {
    width: 25px;
}
/* add the animation style for the image of arrow */
.followb img {
    animation: opacity 0.8s infinite;
  }
  @keyframes opacity {
    0%,20% {opacity:0%}
    50%,100% {opacity:1}
  } 

/* ------------------------------------------------------------
                 TABLET STYLE                                                                                    
---------------------------------------------------------------*/
/* set up the page vision in this area */
@media screen and (min-width: 768px) and (max-width: 1024px) {
body {
    width: inherit;
}
/*change the header's size and position */
header {
    max-width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
}
/*change the nav's position */
ul {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
/*change the logo's size and position to match the scene */
.logo {
    max-width: 60px;
    margin-left: 50px;
}
/*change the logo's position in header area */
.header-logo {
    margin-right: auto;
    display: flex;
    justify-content:flex-start;
}
/*change the h1's font size and position*/
h1 {
    font-size: 4rem;
    font-weight: bold;
    max-width: 90%;
    padding-left: 20px;
    line-height: 70px;
}

.title-left {
    width: 100%;
    margin-left: 40px;
}
/*change the button's size and color */
.title-left button {
    width: 40%;
    height: 60px;
    text-align: center;
    border-radius: 25px;
    color: white;
    background-color: #26A682;
    font-size: 2rem;
    font-weight: bold;
    border-style: none;
    box-shadow: 4px 4px #333;
    margin-right: 100px;
}

.title-icons {
    margin: 20px;
    max-width: 80%;
}
/*change the image's size */
.title-right img {
    max-width: 50%;
}
/*change the image's size and position*/
.school img {
    width: 100%;
    height: 250px;
    margin-top: 30px;
}
/*change the image's size */
.bannera img {
    width: auto;
}
/*change the elements in banner's position */
.banner {
    display: flex;  
}       
/*change the image's size */
.section-ent img {
    width: 100%;
    height: 180px;
}
}

/*-------------------------------------------                                                      
                  DESKTOP STYLE
---------------------------------------------*/
/* set up the page vision in this area */
@media screen and (min-width: 1024px){
body {
    width: inherit;
}
/*change the header's size and position */
header {
    max-width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
}
/*change the nav's position */
ul {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
/*change the logo's size and position to match the scene */
.logo {
    max-width: 60px;
    margin-left: 50px;
}
/*change the logo's position in header area */
.header-logo {
    margin-right: auto;
    display: flex;
    justify-content:flex-start;
}
/*change the container's position */
.discover {
    display: flex;
    justify-content: center;
}
/*change the container's size */
.title-right {
    width: 100%;
    height: 380px;
    margin-top: 30px;
}
/*change the text's font size */
.title-left p {
    font-size: 1.6rem;
    line-height: 25px;
}
/*change the icon's size */
.title-icons p{
    font-size: 0.8rem;
}
/*change the icon's position */
.title-icons {
    max-width: 100%;
    font-size: 30px;
    display: flex;
}
/*change the button's size */
.title-left button {
    height: 50px;
    max-width: 40%;
}
/*change the button's position */
.discover .button {
    margin-left: 40px;
    display: flex;
    justify-content: flex-start;
}
/*change the container's position and color*/
.school {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #F2F2F2;
}
/*change the image's size and position */
.schoola img {
    width: 90%;
    height: 350px;
    padding-left: 50px;
    text-align: center;
}
/*change the banner's size and position */
.banner-info {
    display: flex;
    justify-content: center;
    text-align: center;
}

.bannera {
    width: 50%;
}

.banner {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items:center;
    padding: 10px;
}       
/*change the container's position */
.section-ent {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
/*change the text's font size */
.section-entc p {
    font-size: 0.8rem;
    line-height:20px;
}
/*change the image's size */
.section-enta img {
    width: 100%;
    height: 200px;
}
/*change the button's size */
.section-ent button {
    width: 60%;
    height: 35px;
}

.section-ent {
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 1.2fr;
}

.section-entcontainer {
    display: grid;
    grid-column: 1/2;
    grid-row:1;
}

}